html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    position: relative;
    min-width: 320px;
}

.trusting {
    overflow: hidden;
}

.trusting__container {
    margin: 0 auto;
    padding: 0 35px;
    position: relative;
    min-height: 860px;
    max-width: 1400px;
    display: flex;
    align-items: flex-start;
}

.trusting__content {
    position: relative;
    padding-top: 120px;
    overflow: hidden;
}

.trusting__title {
    position: relative;
    margin: 0;
    margin-bottom: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 72px;
    line-height: normal;
    color: #333;
    z-index: 1;
}

.trusting__text,
.trusting__txt {
    position: relative;
    margin: 0;
    margin-bottom: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 28px;
    line-height: normal;
    color: #333;
    z-index: 1;
}

.trusting__txt {
    max-width: 600px;
}

.trusting__numbers {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.trusting__number-1, .trusting__number-2 {
    width: min-content;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height: normal;
    color: #333;
    text-decoration: none;
    transition: color .3s ease-in-out;
}

.trusting__number-1 {
    margin-bottom: 50px;
}

.trusting__number-1:hover, .trusting__number-2:hover {
    text-decoration: none;
    color: #df8844;
    transition: color .3s ease-in-out;
}

.trusting__img {
    width: 860px;
    position: absolute;
    right: 0;
}

@media screen and (max-width: 1366px) {
    .trusting__img  {
        padding-top: 80px;
        width: 700px;
    }
}

@media screen and (max-width: 1220px) {
    .trusting__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: unset;
    }

    .trusting__content {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .trusting__title {
        text-align: center;
    }

    .trusting__text,
    .trusting__txt {
        max-width: 100%;
        text-align: center;
    }

    .trusting__numbers {
        align-items: center;
    }

    .trusting__img {
        width: 100%;
        padding-top: unset;
        position: unset;
    }
}

@media screen and (max-width: 768px) {
    .trusting__container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 576px) {
    .trusting__title {
        font-size: 50px;
    }

    .trusting__text,
    .trusting__txt,
     .trusting__number-1,
     .trusting__number-2 {
        font-size: 21px;
    }
}

@media screen and (max-width: 480px) {
    .trusting__title {
        font-size: 35px;
    }

    .trusting__number-1,
    .trusting__number-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .trusting__number-2 span {
        margin-bottom: 5px;
    }
}